<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="." />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat Interface</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles/chat.css') }}">
    
        <!-- <style>
    
    </style> -->
    </head>
    
    <body>
        <div class="chat-container">
            <div class="users-list">
                <button class="open-modal-btn" id="openModal">Создать комнату</button>
                <div id="roomList" class="room-list">
            <!-- Список комнат будет здесь --></div>
                 <div id="myModal" class="modal">
                     <div class="modal-content">
                         <span class="close">&times;</span>
                         <form id="createRoomForm">
                                <label for="roomName">Название комнаты:</label>
                                <input type="text" id="roomName" name="roomName" required>
                                    <button type="submit">Создать</button>
                         </form>
                     </div>
                 </div>

                <script src="../static/js/script-modal.js"></script>
                <div class="rooms-container"></div>
                <div class="users-container">
                    <!-- <div class="user-item">John Doe</div>
                    <div class="user-item">Jane Smith</div>
                    <div class="user-item">Mike Johnson</div>
                    <div class="user-item">Sarah Williams</div>
                    <div class="user-item">David Brown</div> -->
                </div>




                <button class="open-modal-btn" id="openFileModal" type="button" style="margin-top: auto;">Файловая</button>

                <!-- Модальное окно для работы с файлами -->
                <div id="fileModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h3>Файлошная</h3>

                        <!-- Форма для загрузки файлов -->
                        <form id="uploadFileForm" enctype="multipart/form-data">
                            <label for="fileName">Название файла:</label>
                            <input type="text" id="fileName" name="fileName" required>

                            <label for="fileInput">Выберите файл:</label>
                            <input type="file" id="fileInput" name="file" required>

                            <button type="submit">Отправить файл</button>
                        </form>


                        <div class="files-section">
                            <h4>Доступные файлы:</h4>
                            <div id="filesList" class="files-list">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="logout-section">
                    <button class="logout-btn">Выход</button>
                </div>
            </div>
            <div class="chat-content">
                <div class="selected-user"></div>
                <div class="select-chat-message">Выберите чат для общения</div>
                <div class="chat-history"></div>
                <div class="message-input">
                    <input type="text" placeholder="Type your message...">
                    <button>Отправить</button>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', path='js/chat.js') }}"></script>
        <script src="{{ url_for('static', path='js/file-modal.js') }}"></script>

    
        <!-- <script>
    
    </script> -->
    
    </body>
    
</html>
